/* *{
  margin:0;
  padding:0;
  box-sizing:border-box
} */


.sideBySide {
  display: flex;
  flex-direction: column;
  /* justify-Content:space-between; */
  background-color:blue;
}

.header {
  display: flex;
  justify-content: center;
  background-color:grey;
  position: -webkit-sticky;
  position:sticky;
  top:0px;
  padding-top:30px;
  padding-bottom:30px;
  z-index:100;
}

.center {
  display:flex;
  justify-content: center
}

.title {
  display:flex;
  justify-content:center;
  padding:10px;
   margin: 0 auto;
   font-size:40px
}


.faqContainer {
  display:flex;
  justify-content:center;
   margin: 0 auto;
}

.faq {
  width: 50%;
  margin: 15px;
  padding: 15px;
  background-color:white;
  border-radius:8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2)
}

 .faqQuestion{
  position:relative; 
  font-size:20px;
  padding-right:80px;
  transition: all 0.4s sease
}
.faqOpen {
  margin-bottom:15px;
  max-height:1000px;
  opacity:1;
}

.faqClosed{
opacity: 0;
max-height: 0;
overflow-y:hidden;
transition:all 0.4s ease
}


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  max-width: 24%;
  padding: 0 4px;
}

.column div {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.weddingPartyContainer {
  display:flex;
  padding:2px;
}



